@{
    ViewData["Title"] = "Приёмная комиссия";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>
</div>
<p>Приём граждан Российской Федерации, иностранных граждан, лиц без гражданства, в том числе соотечественников, проживающих за рубежом, на обучение по образовательным программам среднего профессионального образования по специальностям среднего профессионального образования в ГБОУПО «СТЭТ» осуществляется за счет бюджетных ассигнований, а также по договорам об оказании платных образовательных услуг. 
 Порядок приема в ГБОУПО "СТЭТ" регламентируется Правилами приема граждан на обучение по образовательным программам среднего профессионального образования на 2022-2023 учебный год.</p>
