@{
    ViewData["Title"] = "История ГБОУПО 'СТЭТ'";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>
</div>
<p>История нашего учебного заведения начинается с 1949 года открытием школы кулинарного ученичества.</p>

<p>С 01.09.1964 г. на базе школы торгово-кулинарного ученичества организуется Севастопольский техникум советской торговли.</p>

<p>В 1991 году Севастопольский техникум советской торговли переименован в Севастопольский коммерческий техникум, который осуществляет подготовку младших специалистов по специальностям «Товароведение и коммерческая деятельность», «Коммерческая деятельность», «Бухгалтерский учёт» и «Технология питания».</p>

<p>В 1992 году при техникуме создаётся учебный центр по подготовке и переподготовке рабочих профессий  «Бухгалтер», «Основы предпринимательской деятельности», «Продавец продовольственных товаров», «Продавец непродовольственных товаров», «Повар», «Буфетчик», «Официант», «Бармен».</p>

<p>В 1998 году - первая государственная аттестация техникума по всем специальностям.</p>

<p>В 2000 году проведено лицензирование новой специальности «Организация обслуживания в гостиницах и туристических комплексах», техникум вступил в Ассоциацию учебных заведений туризма и гостиничного хозяйства.</p>

<p>В 2001 году в школах города техникумом открываются лицейные классы для подготовки абитуриентов.</p>

<p>В 2005 году организована стажировка студентов техникума за рубежом.</p>

<p>В 2004, 2008 г.г. проводятся аккредитации учебного заведения по всем специальностям.</p>

<p>В 2009 году проведено лицензирование специальности «Оценочная деятельность», в 2010 году – специальности «Организация туристического обслуживания».</p>

<p>С 2010-2011 учебного года техникум проводит подготовку младших специалистов на базе полного общего (11 классов)  и на основании базового среднего (9 классов) образования, организованы подготовительные курсы для учащихся выпускных классов.</p>

<p>В 2013 году проведена аккредитация специальности «Туристическое обслуживание».</p>

<p>В 2014 году проведена аккредитация специальности «Информационные системы (по отраслям)».</p>

<p>С 1 января 2015 года техникум носит название ГБОУПО "Севастопольский торгово-экономический техникум"</p>

 <img src="/img/2.jpg" alt="" class="center">