@{
    ViewData["Title"] = "Главная";
}

<!--<div class="text-center">
    <h5 class="display-4">ГБОУПО "СТЭТ"</h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    
    <p style="font-size:100%; text-align:center;">
        <span style="font-size:28px;">Государственное бюджетное образовательное учреждение профессионального образования города Севастополя «Севастопольский торгово-экономический техникум»
            </span></p>
   <div align="center">
            <img src="/img/logo.jpg">
            </div>


<h5><b>Реквизиты:</b></h5>

<p><b>Наименование:</b> УФК по г. Севастополю (ГБОУПО «СТЭТ», л/с 20746Щ82620)</p>

<p><b>Расчетный счет:</b> ЕКС 40102810045370000056, казначейский счет 03224643670000007400, ИНН 9204023556 КПП 920401001 ОКТМО 67000000,</p>

<p><b>БИК ТОФК:</b> 016711001 ОТДЕЛЕНИЕ СЕВАСТОПОЛЬ БАНКА РОССИИ // УФК по г. Севастополю г. Севастополь</p>

<p><b>Номер лицевого счета:</b> 20746Щ82620</p>

<p><b>Назначение платежа:</b> КБК 00000000000000000130-оплата за обучение, № группы, № курса, Фамилия имя отчество</p>

<p><b>Учредитель образовательной организации:</b> Департамент образования и науки города Севастополя</p>

<p><b>Год основания образовательной организации</b> - 1964</p>

<p><b>Язык образования</b> - русский</p>
   <div align="center">
 <iframe width="885" height="400" src="https://www.youtube.com/embed/4x8ggKs-dnA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
