@{
    ViewData["Title"] = "Руководство";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>
</div>
<h3>Руководитель</h3>
<div class="educationWorkerDetail educationWorkerLeader">
<div class="photo">
    <img src="/img/1.jpg" alt="Арвеладзе Виктория Георгиевна"></a>
    </div>
    <div class="info">
    <h4>Арвеладзе Виктория Георгиевна</a></h4>
    <p>Занимаемая должность: <b> директор, преподаватель высшей квалификационной категории, 2019 год</b></p>
    <p>Контактный телефон: <b>+7(8692) 54-36-04</b></p>
    <p>Адрес электронной почты: <b>sevcomt@gmail.com</b></p>

            <p>Общий стаж работы: <b>39 лет</b></p>
                <p>Стаж работы по специальности: <b>32 года</b></p>
                <p>Образовательное учреждение: <b>Севастопольский техникум советской торговли, 1982 г.  Донецкий институт советской торговли, 1988 г.</b></p>
                <p>Уровень образования: <b>высшее образование</b></p>
                        <p>Направление подготовки и (или) специальности педагогического работника:
            <b>Товароведение и организация торговли непродовольственными товарами.</b>
        </p>
                <p>Квалификация: <b>1.Товаровед непродовольственных товаров 2. Менеджмент в образовании</b></p>
                <p>Дата получения квалификации: <b>1.07.1988</b></p>
                <p>Данные о повышении квалификации или (и) профессиональной переподготовке:
            <b><br>Негосударственное образовательное частное учреждение высшего образования «Московский финансовопромышленный университет<br>
«Синергия», 2017 г. Профессиональная переподготовка по программе «Менеджмент в образовании», 510 ч.<br>
ДПП "Курсовое обучение в области гражданской защиты Севастополя 36 ч. 2016 г.<br>
ДПП "Управление государственными и муниципальными закупками" , 144 ч.,  2016 г. <br>
ДПП"Образовательная деятельность педагогических и научно-педагогических работников по организации инклюзивного образования (пространства) лиц с ограниченными возможностями здоровья и (или) инвалидностью в профессиональных образовательных организациях, 36 ч. 2017 г. <br>
ДПП "Проектирование образовательных программ на основе ФГОС СПО по наиболее востребованным и перспективным профессиям и специальностям", 36 ч., 2017 г.<br>
ДПП "Массовые открытые онлайн-курсы (МООК) – в образовании", 36 ч., 2017 г. <br>
ДПП "Обучение должностных лиц и специалистов ГО и РСЧС организаций по гражданской обороне и защите от ЧС природного и техногенного характера", 36 ч., 2017 г.<br>
ДПП "Создание системы качества образования", 20 ч.,  2017 г.<br>
ДПП "Информационно-методическое сопровождение деятельности образовательных организаций СПО по внедрению новых и актуализируемых федеральных государственных образовательных стандартов СПО, 72 ч.,  2018 г.<br>
ДПП "Создание условий для реализации основной профессиональной образовательной программы на основе современных тенденций развития рынка труда и системы СПО", 72 ч., 2018 г.<br>
ДПП "Курсовое обучение должностных лиц и работников гражданской обороны и единой государственной системы предупреждения и ликвидации чрезвычайных ситуаций", 36 ч., 2019 г.<br>
ДПП "Управление государственными и муниципальными закупками", 144 ч., 21.06.2019 г.<br>
ДПП "Основы первой доврачебной помощи", 36 ч., 2019 г.<br>
Дополнительная переподготовка по программе "Педагог среднего профессионального образования: Реализация ФГОС нового поколения", ООО "Столичный учебный центр", г. Москва, 300 ч., 12.11.2019 - 14.01.2020.<br>
ДПП "Практика и методика реализации образовательных программ среднего профессионального образования с учетом спецификации стандартов Ворлдскилс по компетенции (Организация экскурсионных услуг)", 76 ч., 12.05.2020-20.05.2020 (SKILLS PASSPORT - Паспорт компетенций, Демонстрационный экзамен по компетенции R58 Организация экскурсионных услуг)<br>
ДПП "Эксперт чемпионата Ворлдскиллс Россия (очная форма с применением дистанционных образовательных технологий)", 25,5 ч., 30.06.-01.07.2020.<br>
ДПП "Патриотическое воспитание обучающихся средствами краеведения на уроках и во внеурочной деятельности", 36 ч., 01.10.-18.12.2020.<br>
ДПП "Стратегическое управление: технологии и реализация стратегии развития образовательной организации", 72 ч., 17.06.-30.11.2020.<br>
ДПП "Критериальное оценивание заданий предметного и метапредметного характера в системе экспертной оценки", 16 ч., 2021.<br>
ДПП "Специфика подготовки участников чемпионатов Ворлдскиллс" (на примере компетенции "Организация экскурсионных услуг")", 32 ч., 22.04.-24.04.2021. <br>
ДПП по программе обучения по охране труда, 40 ч., 2021 г.<br>
ДПП по программе пожарно-технического минимума, 16 ч., 2021 г.<br>
ДПП "Направления деятельности региональных управленческих команд, обеспечивающих реализацию мероприятий Федерального проекта "Молодые профессионалы" в субъектах Российской Федерации", 108 ч., 28.06.-30.11.2021.<br>
ДПП "Информационная безопасность детей: социальные и технологические аспекты", 48 ч., ФГАОУ ДПО "Академия реализации государственной политики и профессионального образования Министерства просвещения РФ", 14.02.-01.04.2022.<br>
ДПП "Цифровые технологии в образовании", 42 ч., ФГАОУ ДПО "Академия реализации государственной политики и профессионального образования Министерства просвещения РФ", 01.02.-01.04.2022.</b>
        </p>
                <p>Преподаваемые педагогическим работником дисциплины:
            <b><br>38.02.05 Товароведение и экспертиза качества потребительских товаров<br>
Дипломная работа<br>
43.02.10 Туризм<br>
Производственная практика (ПМ 01, ПМ 02)<br>
Учебная практика (ПМ 01, ПМ 02)</b>
        </p>
    </div>
</div>
